.contactTitle{
    width: fit-content;
    height: fit-content;
    margin: 30px auto;
    margin-top: 0;
    /* background-color: #8b18ea; */
    font-size: 70px;
    font-weight: bold;
    
}
.contactMain{
    margin: 10px auto;
    width: fit-content;
    font-size: 25px;
    line-height: 1.5; 
} 
.contactTitle, .contactMain{
   display: block;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}