body{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
}

.createButtonText{
    text-decoration: none;
    color: white;
}
section
{
    height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.crebutton {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    outline: none;
}
