
.createButtonText{
    text-decoration: none;
    color: white;
}
section
{
    height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.crebutton {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}
.crebutton:hover{
    width: 150px;
    height: 55px;
    color: #f33c3c;
    transition: all linear 0.5s;
} 