body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	background-image: url('../img/aaaaaaaaaaa.jpg');
    background-attachment: fixed;
    background-size: cover;
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 150px;
    display: flex;
    margin: 0 10px;
    
}
nav {
    top: 0; 
    left: 0; 
    width: 100%;
    min-width: 1000px;
    height: 60px; 
    min-height: fit-content;
    background-color: #fdfdfd; 
    padding: 10px; 
}

ul{
    width: fit-content;
    height: 100%;
    margin-left: 20px;
    list-style: none;
    padding: unset;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
}
.login{
    float: right;
    margin-left: 0;
    margin-right: 50px;
}
li{
    margin: 0 10px;
    height: 80%;
    display: flex;
    align-items: center;

}

.navButtons{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out 0.5s;
}
.navButtons:hover{
    color : #f33c3c;
    font-size: large;
    transition: all ease-in-out 0.5s;
}

.main{
    margin: 100px auto;
    border-radius: 50px;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 40%;
    min-width: 400px;
    height: fit-content;
    padding: 40px;

}

.createEvent{
    margin: 0 auto;
}
.tick:before {
    content: '\2714'; 
    margin-right: 5px; 
}